.Menu {
    list-style: none;
    display: flex;
    flex-flow: row;
    margin: 0px;
    padding: 0px;
    height: 100%;
    align-items: center;
}


@media(max-width:500px) { 
    .Menu  { 
        display: block;
    }
}